//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --white: #EEEDE9;
    --black: #212121;
}

* {
    font-family: 'Open Sans', sans-serif, Times;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

html, body {
    padding: 0 !important;
    margin: 0 !important;
    background: var(--white);
    color: var(--black);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

main {
    width: 100%;
}

.container {
    width: 100%;
    padding: 5% 10%;
}

#header, #nav-list, .project, #icon-list, footer {
    display: flex;
    justify-content: space-between;
}

#brand, .title, .sub-title, .project-name {
    font-family: "Playfair Display", Times;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.title {
    font-size: 36px;
}

.sub-title, #intro-desc b {
    font-size: 24px;
}

.main-desc, a, .project-name {
    font-size: 18px;
    text-align: justify;
}

.main-desc {
    line-height: 40px;
}

.pattern {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    background: var(--black);
    animation: loading 1s ease-in-out;
}

#intro {
    background: url('../img/background-default.svg');
    background-size: cover;
}

@keyframes loading {
    0% {
        transform: scaleX(0);
    } 100% {
        transform: scaleX(1);
    }
}

//Header
.active {
    background: red;
}

#header {
    padding: 0 10%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all .25s ease-in-out;
}

#navbar {
    width: 20%;
    padding-top: 25px;
}

#brand {
    position: relative;
    top: -5px;
}

#nav-list {
    justify-content: center;
}

.nav-item:not(#nav-contact) {
    margin-right: 40px;
}

.nav-link {
    text-align: center;
    position: relative;
}

.nav-link::before {
    position: absolute;
    content: "";
    top: 55%;
    height: 1.5px;
    width: 100%;
    background: var(--black);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s linear;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

#hamburger-menu {
    width: 24px;
    height: auto;
    display: none;
}

//Introduction section
#intro {
    padding-top: 100px;
    padding-bottom: 52%;
    height: 100vh;
    background: url('../img/background-default.svg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#arbhy-normal, #arbhy-speech {
    z-index: 2;
    width: 20vw;
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    transition: opacity .5s ease-in-out;
}

#arbhy-speech {
    opacity: 0;
}

.arbhy-card:hover #arbhy-speech {
    opacity: 1;
}

.arbhy-card:hover #arbhy-normal {
    opacity: 0;
}

#wave-2 {
    display: none;
}

//Works section
#works {
    z-index: 1;
    padding-top: 10%;
    padding-bottom: 30%;
    background: var(--black);
    color: var(--white);
    position: relative;
}

#fe-project {
    margin-top: 80px;
}

.project {
    padding:  2em 0;
    color: var(--white);
    border-bottom: 3px solid var(--white);
    transition: background .5s ease-in-out, padding .75s ease-in-out;
}

.project:hover {
    padding: 2em 3em;
    background-size: cover !important;
    background-position: center !important;
}

.project-name span {
    font-size: 14px;
    font-weight: normal;
}

.project-desc {
    position: relative;
    top: 20px;
    font-size: 16px;
    text-align: right;
}

#minima, #aristotle-institute, #pembayaran-spp {
    margin-top: 40px;
}

#minima:hover {
    background: url('../img/project/minima.PNG');
}

#phoenix:hover {
    background: url('../img/project/phoenix.PNG');
}

#aristotle-institute:hover {
    background: url('../img/project/aristotle_institute.png');
}

#atf-collection:hover {
    background: url('../img/project/above_the_folds.PNG');
}

#ron88:hover {
    background: url('../img/project/ron88.png');
}

#be-project, #uiux-project {
    margin-top: 60px;
}

#pembayaran-spp:hover {
    background: url('../img/project/pembayaran_spp.PNG');
}

//Contact section
#contact {
    padding-top: 10%;
    padding-bottom: 10%;
}

#contact-title {
    text-align: center;
}

.form-group {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    position: relative;
}

.form-group:nth-child(1) {
    margin-top: 80px;
}

#textarea-form {
    height: 80px;
}

.input-form, #submit-btn {
    padding: 1em;
    width: 100%;
    border: 0;
    border-bottom: 3px solid gray;
    transition: border-bottom .5s ease-in-out;
}

.input-form {
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
}

::placeholder {
    color: gray;
}

#name {
    margin-top: 40px;
}

#msg {
    resize: none;
}

.focus-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--black);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s ease-in-out;
}

.input-form:focus {
    outline: 0;
}

.input-form:focus + .focus-underline {
    outline: 0;
    transform: scaleX(1);
}

#submit-btn {
    margin-top: 30px;
    border: none;
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
    transition: all .5s ease-in-out;
}

#submit-btn:hover {
    cursor: pointer;
    background: none;
    color: var(--black);
}

//Footer 

#footer {
    padding: 1em 10%;
    color: var(--white);
    background: var(--black);
}

#icon-list {
    justify-content: center;
    padding-top: 20px;
    width: 6%;
}

.icon-item:not(#github) {
    margin-right: 30px;
}

.icon-img {
    position: relative;
    width: 30px;
    top: 0;
    transition: top .25s ease-in-out;
}

.icon-img:hover {
    top: -2px;
}

//Media screen

@media screen and (max-width: 1024px) {
    #navbar {
        width: 40%;
    }

    #intro {
        padding-top: 20%;
        padding-bottom: 900px;
    }

    #wave-2 {
        display: block;
    }

    #wave-1 {
        display: none;
    }

    #works {
        padding-top: 20%;
    }

    #icon-list {
        width: 10%;
        padding-top: 15px;
    }

    .icon-img {
        width: 24px;
    }

    #arbhy-speech, #arbhy-normal {
        width: 30vw;
    }
}

@media screen and (max-width: 768px) {
    #header {
        background: var(--white) !important;
        box-shadow: none !important;
    }

    #navbar {
        position: absolute;
        right: 0;
        top: 80px;
        width: 50%;
        height: 100vh;
        background: var(--white);
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }

    #nav-list {
        height: 100%;
        text-align: center;
        flex-direction: column;
    }

    .nav-item, #contact-title {
        margin: 40px 0 !important;
    }

    #hamburger-menu {
        display: block;
    }

    #arbhy-speech, #arbhy-normal {
        width: 30vw;
    }

    .project-desc {
        top: 15px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    #header {
        height: 48px;
    }

    #brand {
        position: relative;
        font-size: 18px;
        top: 0;
    }

    #hamburger-menu {
        width: 16px;
    }

    #navbar {
        top: 48px;
        height: 100vh;
    }

    .nav-link, .main-desc, ::placeholder, .input-form, #submit-btn {
        font-size: 16px;
    }

    #intro {
        padding-top: 20%;
        padding-bottom: 900px;
    }

    .title {
        font-size: 24px;
    }

    .main-desc {
        line-height: 30px;
    }

    #intro-desc b, .sub-title {
        font-size: 18px;
    }

    #arbhy-speech, #arbhy-normal {
        width: 45vw;
    }

    #works {
        padding-top: 40%;
    }

    .project {
        flex-direction: column;
    }

    .project:hover {
        padding: 2em 0;
    }

    .project-name, #copyright {
        font-size: 14px;
    }

    .project-name, .project-desc {
        text-align: center;
    }

    footer {
        flex-direction: column;
    }

    #icon-list {
        width: 100%;
        padding-top: 5px;
    }

    #copyright {
        text-align: center;
    }

    #linkedin {
        margin-right: 0;
    }

    .icon-img {
        margin: 0 5px;
    }
}
